<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8 col-md-offset-2 utext-center">
    <p class="summary">
      <%= @summary.text %>
    </p>
  </div>

  <div class="row">
    <div class="upload-container col-md-8 col-md-offset-2 utext-center">
      <a href="/" class="back-button">Back</a>
    </div>
  </div>
</div>
